.Container{
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    min-width: 250px;
    background-color: var(--ifm-color-surface);
    padding: 3rem 0.5rem;
    margin-right: 1rem;
}

.FeatureHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.FeatureTitle {
    font-size: var(--ifm-font-size-24);
    text-align: center;
}

.FeatureDescription{
    font-size: var(--ifm-font-size-18);

}

.CodeExample{
    width: 95%;

}